@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'POPPINS';
  src: url('/assets/fonts/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'LOVELACE';
  src: url('/assets/fonts/Lovelace-Bold-Italic.otf');
}

@font-face {
  font-family: 'CATAMARAN';
  src: url('/assets/fonts/Catamaran-ExtraBold.ttf');
}

@font-face {
  font-family: 'MONTSERRAT';
  src: url('/assets/fonts/Montserrat-Bold.ttf');
}